{/* <div className="table-row-headers">
    <input
      type="text"
      className="table-header"
      defaultValue="Song"
      disabled
    />
    <input
      type="text"
      className="table-header"
      defaultValue="Ragam"
      disabled
    />
    <input
      type="text"
      className="table-header"
      defaultValue="Talam"
      disabled
    />
    <input
      type="text"
      className="table-header"
      defaultValue="Lyricist"
      disabled
    />
    <input
      type="text"
      className="table-header"
      defaultValue="Composer"
      disabled
    />
    <input
      type="text"
      className="table-header"
      defaultValue="Audio"
      disabled
    />
    <input
      type="text"
      className="table-header"
      defaultValue="Script"
      disabled
    />
    <input
      type="text"
      className="table-header"
      defaultValue="Date"
      disabled
    />
    <input
      type="text"
      className="table-header"
      defaultValue=""
      disabled
    />
  </div> */}


  {/* <div className="table-row-add-song">
    <input
      className="table-value"
      type="text"
      name="song"
      onChange={handleChangeCellAdd}
    />
    <div className="select-input">
      <select
        className="table-value"
        name="ragam"
        onChange={handleChangeCellAdd}
      >
        <option value="0"></option>
        {ragas.map((raga) => (
          <option value={raga.raga_id}>{raga.raga_name}</option>
        ))}
      </select>
    </div>
    <div className="select-input">
      <select
        className="table-value"
        name="talam"
        onChange={handleChangeCellAdd}
      >
        <option value="0"></option>
        {talams.map((talam) => (
          <option value={talam.talam_id}>{talam.talam_name}</option>
        ))}
      </select>
    </div>
    <input
      className="table-value"
      type="text"
      name="lyricist"
      onChange={handleChangeCellAdd}
    />
    <input
      className="table-value"
      type="text"
      name="composer"
      onChange={handleChangeCellAdd}
    />
    <input
      className="table-value"
      type="text"
      name="audio"
      onChange={handleChangeCellAdd}
    />
    <input
      className="table-value"
      type="text"
      name="script"
      onChange={handleChangeCellAdd}
    />
    <input
      className="table-value"
      type="date"
      name="date"
      onChange={handleChangeCellAdd}
    />
    <div className="table-value-btn">
      <button className="btn-add" onClick={handleAddRow}>
        Add Song +
      </button>
    </div>{" "}
  </div> */}